<% provide(:title, t("home"))%>
<h1><%= t("home") %></h1>
<p>
  <%= t("home_page.this_is_the_home_page_for_the") %>
  <a href="http://www.railstutorial.org/"><%= t("home_page.tutorial_name") %></a>
  <%= t("home_page.sample_application") %>
</p>
