<li>
  <%= gavatar_for user %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to t("index_page.delete"), user, method: :delete,
    data: {confirm: t("index_page.you_sure")}, class: "text-danger" %>
  <% end %>
</li>
